profiles {
    docker_gpu_schedule {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g) --ulimit nofile=100000:100000'
        }

        process {
            containerOptions = { "--cpus=${task.cpus}" }

            withLabel: 'process_gpu' {
                containerOptions = { "--cpus=${task.cpus} --runtime=nvidia --gpus '\"device='\$CUDA_VISIBLE_DEVICES'\"'" }
            }
        }
    }
}
