nfreport {
    outputDir = "${params.outdir}"
    suffix = "_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}"
    createLinkToLatestReport = true

    executionReport {
        enabled = true
    }

    sampleStatusReport {
        enabled = true
        extractSampleNameFrom = 'meta_map'
        sampleNameMetaKeyPattern = '^sample_name$'
        printCompletionSummary = true
        format = 'tsv'
    }
}
